.App {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.game {
  width: 60vw;
  margin: 0 20vw;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 3em;
  background-color: lightgrey;
  padding: 3vh 0;
}

.tile {
  width: 15vh;
  height: 15vh;
  border: 1px solid black;
}

.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grey-button {
  width: 40vw;
  min-height: 5vh;
  background-color: lightgrey;
  border-radius: 5px;
  font-size: 1em;
  margin: 5vh;
}

label {
  width: 100%;
  display: block;
  font-weight: 600;
}

input[type=text]{
  width: 90%;
  text-align: center;
  font-size: 1em;
  margin: 2vh 0;
  padding: 1vh;
}

form {
  text-align: center;
  padding: 5vh 0;
}